@charset "utf-8";
/* CSS Document */

.wrapper{
		width:100%;
	}
	body,html{
	overflow: hidden;
}
	header{
		position:fixed;
		height: auto;
		overflow: hidden;
		padding:15px 20px;
		background-color: #3a539b;
		width: 100%;
		box-sizing: border-box;
		z-index:1000;
	}
	
	.header_container{
		padding:10px;
	}

.head1>h3,.head1>.logo,.head1>i{
	display: inline-block;
	vertical-align: middle;
}

.head1>h3,.head1>i{
	width: 8%;	
	color: #fff;
}

.head1>h3{
	font-family:"Roboto";
	font-size:18px;
	font-weight: 600;
}
	.logo{
		width:80%;
		text-align: center;
	}
	.logo>img{
		max-width: 25%;
		max-height:25%;
		text-align: center;
		vertical-align: middle;
	}
#sign_out{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
	text-align:right;
	color: #fff;
	font-family:"Lato";
	font-size:16px;
	font-weight: 600;
	display:none;
}


	.container{
	    background: #eee;
		overflow: hidden;
		height: 100vh;
		width: 100%;
		padding-bottom:30px;
		overflow-y: scroll;
	}
	
	.content_area{
		margin-top:50px !important;
		width:96%;
		margin:0 auto;
		height: auto;
		overflow: hidden;
		padding:10px 0px ;
		z-index:-20;
	}

.title{
	width:100%;
	text-align: center;
	font-family:"Lato";
	font-size:20px;
	font-weight: 400;
	color: #515151;
	display:block;
	margin:25px 0px 25px 0px;
}

.booking_form{
	width: 95%;
	margin:0 auto;
	background-color: #fff;
	//border:1px solid #A6A6A6; 
	height:auto;
	overflow: hidden;
	padding:20px 5px 20px 5px;
	box-sizing: border-box;
}

#source,#destination,#ticket-count{
	display: block;
	width: 85%;
	margin:0 auto;
	height: 30px;
	margin-bottom:15px !important;
	padding:5px 10px 5px 10px;
	box-sizing: content-box;
	border:1px solid #515151;
	font-family:"Roboto";
	font-weight: 400;
	font-size:14px;
}

#source:focus,#destination:focus,#ticket-count:focus{
	border:2px solid #3a539b;
	transition:all 100ms ease-out;
}

input[type="submit"]{
	display: block;
	width: 85%;
	margin:0 auto;
	margin-top:30px !important;
	height: 20px;
	margin-bottom:15px !important;
	background-color: #3a539b;
	color: #fff;
	border:0px;
	border-radius: 1px;
	padding:5px 10px 5px 10px;
	box-sizing: content-box;
	font-family:"Lato";
	font-weight: 400;
	font-size:16px;
}